<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>18/11/11 12:43:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase_5.openURL()[pri:0, instance:login.TestCase_5@c038203]">&gt;&gt;openURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@597255128</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>18/11/11 12:43:22</td>   <td>10843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_5.NoClick_OnButton()[pri:0, instance:login.TestCase_5@c038203]">NoClick_OnButton</td> 
  <td>main@597255128</td>   <td></td> </tr>
</table>
